.skin-shop-list-basic {}

/** 해당 목록에 상품이 없는 경우 **/
.skin-shop-list-basic .empty-list { width:100%; height:100px; display:flex; justify-content: center; align-items: center; font-size:1.25rem; color:#878787; }

.skin-shop-list-basic .-product-list {list-style:none; padding:0; margin:0 -.25rem; display:flex; flex-wrap:wrap;}
.skin-shop-list-basic .-product-list .-item {display:block; padding:.25rem; width:25%;}
.skin-shop-list-basic .-product-list .-item:hover { box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);}
.skin-shop-list-basic .-product-list .-item .-inner {display:block; overflow:hidden; position:relative;}
.skin-shop-list-basic .-product-list .-item .-inner .-inner-anchor {display:block;}
.skin-shop-list-basic .-product-list .-item .-inner .-thumb { position:relative; width:100%; height:0; padding-bottom:125%; background:#f0f0f0; display:flex; justify-content: center; align-items: center; margin-bottom:.25rem;}
.skin-shop-list-basic .-product-list .-item .-inner .-thumb a {display:block; width:100%; height:100%;}
.skin-shop-list-basic .-product-list .-item .-inner .-thumb figcaption { color:#909090; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.skin-shop-list-basic .-product-list .-item .-inner .-thumb img { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); object-fit: cover; width:100%; height:100%;}
/*.skin-shop-list-basic .-product-list .-item .-inner .-thumb:hover img {opacity:0.7;}*/
.skin-shop-list-basic .-product-list .-item .-inner .-actions {display:none; position:absolute; bottom:0; left:0; width:100%; z-index:10; background:rgba(0,0,0,0.5); padding:1rem;}
.skin-shop-list-basic .-product-list .-item .-inner .-actions .btn-cart-quick { display:block; padding:.5rem; width:100%; background-color:#fff; border:1px solid var(--theme-color-primary); color:var(--theme-color-primary); }
.skin-shop-list-basic .-product-list .-item .-inner:hover .-actions {display:block;}

.skin-shop-list-basic .-product-list .-item .-inner .-info {}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-title {font-size:1rem; font-weight:700;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-title a {color:#282828;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-review-score {display:flex; align-items: center; width:100%; margin-bottom:.5rem;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-review-score .rating-container {display:block; width:75px; height:15px; background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIzIDIxIj4KICAgIDxwYXRoIGZpbGw9IiNDQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE1IDYuMzY4bDYuNjk0IDEuMTE5Yy43NTQuMTI1LjkzMi42Ni4zOTggMS4xOTdsLTQuNzQ0IDQuNzQ4Ljk4MSA2LjU2MmMuMTEuNzQtLjM1NyAxLjA3Mi0xLjA0Mi43NGwtNi4wODctMi45NC02LjA4NyAyLjk0Yy0uNjg1LjMzMi0xLjE1MiAwLTEuMDQyLS43NGwuOTgtNi41NjJMLjMwOCA4LjY4NGMtLjUzNC0uNTM2LS4zNTYtMS4wNzIuMzk4LTEuMTk3TDcuNCA2LjM2OCAxMC41NTcuNDk2Yy4zNTUtLjY2MS45MzEtLjY2MSAxLjI4NiAwTDE1IDYuMzY4eiIvPgo8L3N2Zz4K) repeat-x; background-size:15px; }
.skin-shop-list-basic .-product-list .-item .-inner .-info .-review-score .rating-container .rating-value {height:100%; content:'';display:block; background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIzIDIxIj4KICAgIDxwYXRoIGZpbGw9IiNGRjk2MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjg0My40OTZMMTUgNi4zNjhsNi42OTQgMS4xMTljLjc1NC4xMjUuOTMyLjY2LjM5OCAxLjE5N2wtNC43NDQgNC43NDguOTgxIDYuNTYyYy4xMS43NC0uMzU3IDEuMDcyLTEuMDQyLjc0bC02LjA4Ny0yLjk0LTYuMDg3IDIuOTRjLS42ODUuMzMyLTEuMTUyIDAtMS4wNDItLjc0bC45OC02LjU2MkwuMzA4IDguNjg0Yy0uNTM0LS41MzYtLjM1Ni0xLjA3Mi4zOTgtMS4xOTdMNy40IDYuMzY4IDEwLjU1Ny40OTZjLjM1NS0uNjYxLjkzMS0uNjYxIDEuMjg2IDAiLz4KPC9zdmc+Cg==) repeat-x; background-size:15px; }
.skin-shop-list-basic .-product-list .-item .-inner .-info .-review-score .review-count {margin:0;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-review-score .rating-container + .review-count {margin-left:1rem;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .-summary {margin-bottom:.25rem;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .cust-price-row {color:#222;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .cust-price-row .cust-price {text-decoration: line-through; color:#898989;}
.skin-shop-list-basic .-product-list .-item .-inner .-info .price-row {font-size:1.2rem; color:var(--theme-color-primary); font-weight:700;}
/** 빠른구매 **/
.skin-shop-list-basic .quick-buy {position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000;}
.skin-shop-list-basic .quick-buy:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1001; background:rgba(0,0,0,0.5);}
.skin-shop-list-basic .quick-buy .quick-buy-form {position:relative;z-index:1002; width:100%; height:100%; padding:.5rem; display:flex; flex-direction: column; justify-content: center; align-items: center}
.skin-shop-list-basic .quick-buy .quick-buy-form .quick-option-select {width:100%; display:block; margin:0 0 .5rem;}
.skin-shop-list-basic .quick-buy .quick-buy-form .qbf-select { display:block; background:#fff; color:#222; width:100%; padding:.325rem .75rem;}
.skin-shop-list-basic .quick-buy .btn-qbf {display:block; width:100%; padding:.375rem .75rem; border:1px solid transparent; color:#282828;}
.skin-shop-list-basic .quick-buy .btn-qbf.btn-qbf-close {margin-top:.5rem; background-color:#fff; color:#282828; border-color:#fff;}
.skin-shop-list-basic .quick-buy .btn-qbf.btn-qbf-submit {background-color:var(--theme-color-primary); color:#fff; border-color:var(--theme-color-primary);}


/** 반응형 대응 - 태블릿 **/
@media screen and (max-width:1024px) {
    .skin-shop-list-basic .-product-list .-item {width:33.333333%;}
}

/** 반응형 대응 - 와이드 모바일 **/
@media screen and (max-width:768px) {
    .skin-shop-list-basic .-product-list .-item {width:50%;}
}
/** 반응형 대응 - 세로 모바일 **/
@media screen and (max-width:420px) {
    .skin-shop-list-basic .-product-list .-item {width:100%;}
}