/**
 * 공통 요소 선언
 */
$primary-color : #3498db;
$primary-hover-color : #256d9c;
$primary-border-color : #0464db;

/**
 * 상단 메뉴바
 */
$navbar-default-bg : $primary-color;
$navbar-default-border : $primary-border-color;
$navbar-default-border-radius : 0px;
$navbar-default-brand-color : #fff;
$navbar-default-brand-hover-color : #333;
$navbar-default-brand-hover-bg : $primary-color;
$navbar-default-color : #fff;
$navbar-default-link-color : #fff;
$navbar-default-link-hover-color : #f0f0f0;
$navbar-default-link-hover-bg : $primary-hover-color;
$navbar-default-link-active-color : #f0f0f0;
$navbar-default-link-active-bg : $primary-hover-color;
$navbar-default-link-disabled-color : #898989;
$navbar-default-link-disabled-bg : $primary-color;
$navbar-default-toggle-border-color : $navbar-default-border;
$navbar-default-toggle-hover-bg : $navbar-default-border;
$navbar-default-toggle-icon-bar-bg : $primary-color;


$body-bg-color   : #ffffff;

$footer-bg-color : #fefefe;
$footer-border-top: 1px solid #f2f2f2;
$footer-height  : 200px;