// 반응형 포인트
$break-desktop : 1200px;
$break-tablet : 992px;
$break-mobile : 768px;

// 색상 변수
$color-primary : #5399ea;   // 메인 컬러
$color-secondary : #404040; // 서브 컬러
$color-success : #1ffd32;
$color-info : #3498db;
$color-warning : #ffb802;
$color-danger : #e32815;
$color-light : #f8f9fa;
$color-dark : #343a40;

$body-color : #282828;      // 기본 텍스트 색상
$body-bg-color : #f4f8f9;   // 기본 배경 색상

$link-color : $body-color;          // 링크 텍스트 색상
$link-hover-color : $color-primary; // 링크 오버시 텍스트 색상

// 폰트 관련
$font-family-base : 'Noto Sans KR',sans-serif;     // 기본글자에 사용 되는 폰트
$font-family-heading : 'NanumSquare','나눔스퀘어',sans-serif;                                           // 헤딩태그에 사용 되는 폰트
$font-size-base   : 14px;
$font-weight-base : 400;
$font-weight-bold : 700;
$line-height-base : 1.5em;

// 애니메이션
$default-animation : ease;

// 테이블 관련
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

// 버튼 및 INPUT
$input-btn-padding-y  : 4px !default; // 상하
$input-btn-padding-x  : 9px !default; // 좌우
$input-btn-font-size  : 12px !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-border-radius : 4px !default;

$input-btn-padding-y-xs:      1px !default;
$input-btn-padding-x-xs:      5px !default;
$input-btn-font-size-xs:      11px !default;
$input-btn-line-height-xs:    $line-height-base !default;
$input-btn-border-radius-xs : 2px !default;

$input-btn-padding-y-sm:      6.5px !default;
$input-btn-padding-x-sm:      17px !default;
$input-btn-font-size-sm:      11px !default;
$input-btn-line-height-sm:    $line-height-base !default;
$input-btn-border-radius-sm : 3px !default;

$input-btn-padding-y-lg:      12px !default;
$input-btn-padding-x-lg:      25px !default;
$input-btn-font-size-lg:      13px !default;
$input-btn-line-height-lg:    $line-height-base !default;
$input-btn-border-radius-lg : 6px !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $color-primary,
        "secondary":  $color-secondary,
        "success":    $color-success,
        "info":       $color-info,
        "warning":    $color-warning,
        "danger":     $color-danger,
        "light" : $color-light,
        "dark" : $color-dark
), $theme-colors);

$brand-primary : $color-primary;
$brand-success : $color-success;
$brand-info : $color-info;
$brand-warning : $color-warning;
$brand-danger : $color-danger;
