// Default Button 색상 지정
$btn-default-text : #242424;
$btn-default-bg : #fff;
$btn-default-border : #8f8f8f;
$btn-default-hover-bg : #e6e6e6;
$btn-default-hover-border : #4f4f4f;

// Primary Button 색상 지정
$btn-primary-text : #fff;
$btn-primary-bg : #3498db;
$btn-primary-border : #616161;
$btn-primary-hover-bg : #256d9c;
$btn-primary-hover-border : #000;

// Warning Button 색상 지정
$btn-warning-text : #242424;
$btn-warning-bg : #FFB802;
$btn-warning-border : #b58200;
$btn-warning-hover-bg : #ce9400;
$btn-warning-hover-border : #352600;

// Danger Button 색상 지정
$btn-danger-text : #fff;
$btn-danger-bg : #e32815;
$btn-danger-border : #e37170;
$btn-danger-hover-bg : #e34249;
$btn-danger-hover-border : #e37170;