.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 7px;
  font-size: 13px;
  line-height: 1.42857;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &.focus {
    color: #242424;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65); box-shadow: none;
  }

  &a.disabled,
  fieldset[disabled] &a {
    pointer-events: none;
  }

  &.btn-default,
  &.btn-white {
    @include button-generator(#fff, hsla(0,0%,100%,.25), transparent, hsla(0,0%,100%,.3), transparent);
  }

  &.btn-primary {
    @include button-generator(#fff, #cc7b19, transparent, #b56d16, transparent);
  }

  &.btn-warning {
    @include button-generator($btn-warning-text, $btn-warning-bg, $btn-warning-border, $btn-warning-hover-bg, $btn-warning-hover-border);
  }

  &.btn-danger {
    @include button-generator($btn-danger-text, $btn-danger-bg, $btn-danger-bg, $btn-danger-hover-bg, $btn-danger-hover-bg);
  }

  &.btn-lg,
  .btn-group-lg > & {
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.33333;
    border-radius: 5px;
  }

  &.btn-sm,
  .btn-group-sm > & {
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
  }

  &.btn-xs,
  .btn-group-xs > & {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
  }

  &.btn-block {
    display:block;
    width:100%;

    + .btn-block {
      margin-top: 5px;
    }

    &input[type="submit"],
    &input[type="reset"],
    &input[type="button"] {
      width: 100%;
    }
  }
}
