.row {
  @include clear-fix-after();
  &:before {
    clear:both;
    content:'';
  }
  margin:0 -15px;
}

@for $i from 1 to 13 {
  .col-sm-#{$i},
  .col-xs-#{$i},
  .col-md-#{$i},
  .col-lg-#{$i}{
    float:left;
    min-height:1px;
    width: ( $i / 12 * 100% );
    padding:0 15px;
  }
}

.grid {
  margin:0;
  padding:0;
  position:relative;
  background:transparent;
  border:0px;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
    height: 100%;

    thead {

      tr {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        background-color: #fafafa;
        border: 0px none;
        color: #282828;

        th {
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          padding: 5px;
          text-align:center;
          border:1px solid #ddd;
          font-weight:400;
          font-size:12px;
          line-height:(16em / 12);
        }
      }
    }

    tbody {

      tr {
        border-bottom: 0 none;
        background:transparent;

        &.active {
          td {
            background-color:#fafafa;
          }
        }

        td {
          padding:5px 10px;
          background-color:#fff;
          border:1px solid #ddd;
          font-weight:300;
          font-size:12px;
          line-height:(16em / 12);

          &.empty {
            height:300px;
            vertical-align: middle;
            text-align:center;
          }
        }
      }
    }

    tfoot {
      tr {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        background-color: #f9f9f9;
        border:1px solid #ddd;
        color: #282828;


        td {
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          padding: 10px;
          border:1px solid #ddd;
          height:38px;
          text-align:center;



          &:last-child {
            border-right:0px;
          }
        }

        &:last-child {
          td {
            border-bottom:0px;
          }
        }
      }
    }
  }
}

.grid-wrapper {
  position:relative;

  .grid-container {
    height:100%;
  }
}