// Clear FIX
@mixin clear-fix() {
  display:block;
  clear:both;
  content:"";
}

// Button Default Style
@mixin button-default() {
  display: inline-block;
  margin:0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  outline:0;
  vertical-align:middle;

  &:disabled,
  &.disabled {
    opacity:0.65;
  }

  &:not([disabled]):not(.disabled) {
    cursor: pointer;
  }
}

// background Image
@mixin background-image( $image_url, $bg_color:transparent, $background-repeat:no-repat, $background-position-x:center, $background-position-y:center )
{
  background-color:$bg_color;
  background-image:url($image_url);
  background-repeat: $background-repeat;
  background-position-x:$background-position-x;
  background-position-y:$background-position-y;
}

// Global Transition
@mixin transition($second:.3s, $target:all, $animation:$default-animation)
{
  -webkit-transition: $target $second $animation;
  -moz-transition: $target $second $animation;
  -ms-transition: $target $second $animation;
  -o-transition: $target $second $animation;
  transition: $target $second $animation;
}

// Display flex & Prefix
@mixin display-flex()
{
  -webkit-display:flex;
  display:-ms-flex;
  display:flex;
}