// 소셜 공유 버튼
.sns-share-wrap {
  overflow:hidden;
  padding:20px 0;
  background-color:#fff;

  .sns-share-list {
    @include display-flex();
    justify-content: center;
    align-items: center;
    margin:0 auto;
    flex-wrap:wrap;
    padding:0;
    margin:0;

    li {
      display:block;
      padding:0px 5px;

      @media screen and (max-width:$break-desktop) {
        width:25%;
        margin-bottom:15px;
      }
    }
    [data-toggle="sns-share"] {
      text-indent:-9999px;
      width:40px;
      height:40px;
      display:block;
      margin:auto;
    }
    [data-toggle="sns-share"][data-service="pinterest"] {
      background-image:url(../images/social/sns_pinterest.png);
    }
    [data-toggle="sns-share"][data-service="facebook"] {
      background-image:url(../images/social/sns_facebook.png);
    }
    [data-toggle="sns-share"][data-service="google"] {
      background-image:url(../images/social/sns_google.png);
    }
    [data-toggle="sns-share"][data-service="band"] {
      background-image:url(../images/social/sns_band.png);
    }
    [data-toggle="sns-share"][data-service="kakaostory"] {
      background-image:url(../images/social/sns_kakao.png);
    }
    [data-toggle="sns-share"][data-service="naver"] {
      background-image:url(../images/social/sns_naver.png);
    }
    [data-toggle="sns-share"][data-service="line"] {
      background-image:url(../images/social/sns_line.png);
    }
    [data-toggle="sns-share"][data-service="link"] {
      background-image:url(../images/social/sns_link.png);
    }
  }

} //.sns-share-wrap