@each $color, $value in $theme-colors {
  .text-#{$color} {
    color:$value;
  }
}

.alert {
  padding: 5px 7px;

  &.alert-danger {
    border: 1px solid #e32815;
    color: #e32815;
  }
}

.move-grip {
  cursor:move;
  font-size:12px;
  background-image: url('../images/admin/grip-handle.png');
  background-size:auto 100%;
  background-repeat: no-repeat;
  width:100%;
  min-width:14px;
  height:14px;
  display:block;
}